services:
  apache:
    image: httpd:2.4.62
    volumes:
      - ./src:/var/www/html
      - ./httpd/httpd.conf:/usr/local/apache2/conf/httpd.conf
    depends_on:
      - php
    container_name: apache

  nginx:
    image: nginx:1.27.1
    ports:
      - 80:80
    volumes:
      - ./src:/var/www/html
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - apache
    container_name: nginx

  php:
    build:
      ./php
    volumes:
      - ./src:/var/www/html
      - ./php/php.ini:/usr/local/etc/php/php.ini
    depends_on:
      - mariadb
    container_name: php

  mariadb:
    image: mariadb:11.6.1-ubi9-rc
    volumes:
      - ./mariadb:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: adb2k6
    container_name: mariadb

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links: 
      - mariadb:db
    ports:
      - 8765:80
    environment:
      MYSQL_ROOT_PASSWORD: adb2k6
    depends_on:
      - mariadb
    container_name: phpmyadmin

  #db:
    #image: mysql:8.0
    #restart: always
    #volumes:
      #- ./tmp/db:/var/lib/mysql
    #environment:
      #MYSQL_DATABASE: lar
      #MYSQL_ROOT_PASSWORD: adb2k6
    #ports:
      #- "8101:3306"
    #command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    #container_name: project_db